*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #080719;
  color: white;
}

headder {
  display: flex;
  height: 90%;
}

headder section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  /*   background-color:red; */
  padding: 2px 0;
}

main section {
  min-height: 400px;
  margin-bottom: 10px;
  /*   background-color:green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5px;
}

.not-expanded {
  align-items: center;
  overflow-x: auto;
  min-height: 300px;
}

.expanded {
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

main section article {
  /*   background-color:blue; */
  gap: 10px;
  display: flex;
  padding: 0 5px;
}
.card {
  flex: 0 0 auto;
  height: 200px;
  background-color: black;
  width: 450px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.card footer {
  background-color: #5022a8;
  height: 40%;
  border-radius: 20px 20px 0 0;
  opacity: .7;
  &:hover{
    opacity: 1;
  }
}

.boton{
  cursor: pointer;
  &:hover{
    color: #5022a8;
    text-decoration: underline;
  }
  &:active{
    color: black;
  }
}

.hero {
  background-image: url("./Diseño\ sin\ título.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: right; 
}

.centerImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#carniceria{
  background-image: url("./imagenesProyecto/Carniceria.png");
}
#cssgrid{
  background-image: url("./imagenesProyecto/CSSGrid.png");
}
#finance{
  background-image: url("./imagenesProyecto/finance.png");
}
#learningZIndex{
  background-image: url("./imagenesProyecto/LearningZindex.png");
}
#TallerMate{
  background-image: url("./imagenesProyecto/TallerMate.png");
}
#TallerVideoJuegos{
  background-image: url("./imagenesProyecto/TallerVideoJuegos.png");
}
#usandoResponsiveDesign{
  background-image: url("./imagenesProyecto/usandoResponsiveDesign.png");
}
#Neonorph{
  background-image: url("./imagenesProyecto/Neonorph.png");
}
#nintendoLayout{
  background-image: url("./imagenesProyecto/nintendoLayout.png");
}
#LogIn1ConArboles{
  background-image: url("./imagenesProyecto/LogIn1ConArboles.png");
}
#Login2Atardecer{
  background-image: url("./imagenesProyecto/Login2Atardecer.png");
}
#eslPaginaWeb{
  background-image: url("./imagenesProyecto/eslPaginaWeb.png");
}

@media (width <= 790px) {
  .hero{
    height: 60%;
  }
  .centerImage{
    width: 100%;
    width: 100%;
  }
  section main article{
    width: 100%;
  }
  h2{
    font-size: 3rem;
  }
  
  p{
    font-size: 2rem;
  }
}
@media (width <= 400px) {
  .hero{
    height: 40%;
  }
  .centerImage{
    width: 100%;
    width: 100%;
  }
  section main article{
    width: 100%;
  }
  h2{
    font-size: 3rem;
  }
  
  p{
    font-size: 2rem;
  }
}